@{
    var hanghoa = ViewBag.hanghoa;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        table, th, td 
        {
            border: 1px solid;

        }

        table{
            border-collapse: collapse;
        }

    </style>
</head>
<body>
    <div>
        <input type="text" id = "id">
        <button onclick="search()">Search</button>
    </div>
    @if (ViewBag.hanghoa != null)
    {
        <div style="margin-top: 10px ;">
            <table>
            <tr>
                <th>STT</th>
                <th>Trạng Thái</th>
                <th>Ngày</th>
            </tr>
            <tbody>
                <tr>
                    <td>1.</td>
                    <td>Hàng đã đến kho nước ngoài</td>
                    <td>@hanghoa.status1</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>Hàng đã vận chuyển về Việt Nam</td>
                    <td>@hanghoa.status2</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>Hàng đã về kho Việt Nam</td>
                    <td>@hanghoa.status3</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>Hàng đã giao cho khách</td>
                    <td>@hanghoa.status4</td>
                </tr>
            </tbody>
            </table>
        </div>
    }
    <script>
        function search() {
            let id = document.getElementById("id").value;
            window.location.href = `/Test/Index/${id}`;
        }

    </script>
</body>
</html>


